<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='thankyou.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/JAVIER.png') }}" alt="Logo 1" class="logo ">
            <img src="{{ url_for('static', filename='images/DOH.png') }}" alt="Logo 2" class="logo">
            <img src="{{ url_for('static', filename='images/DOH1.png') }}" alt="Logo 3" class="logo">
        </div>
    </header>
    <div class="container">
        <h2>Salamat sa pagsagot!</h2>
        <p>Tandaan na may mga taong handang makinig gaya ng iyong magulang, guro, o tagapayo.

            Huwag matakot humingi ng tulong. Mahalaga ka at hindi ka nag-iisa! 💙
            
            </p>
            <h3>📌 Client Number: <strong>{{ control_number }}</strong></h3>

        
    </div>
    <footer class="footer">
        <!-- <img src="{{ url_for('static', filename='images/EU.png') }}" alt="Logo 1" class="logo large">
        <img src="{{ url_for('static', filename='images/STC.png') }}" alt="Logo 2" class="logo large">
        <img src="{{ url_for('static', filename='images/SAMAR2.png') }}" alt="Logo 3" class="logo larger"> -->
        <img src="{{ url_for('static', filename='images/CONTACT1.png') }}" alt="Logo 3" class="logolarger">
    </footer>
</body>
</html>
