<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='question.css') }}">
</head>
<body>
    <div class="container">
        <h2>Sagutin ng tapat ang mga sumusunod na katanungan. Ang sagot ay CONFIDENTIAL.</h2>
    
        <form method="POST" action="{{ url_for('questions') }}">
            
            <div class="question">
                <label>{{ question.question_text }}</label>
                <div class="options">
                    <label><input type="radio" name="q{{ question.id }}" value="Yes" required> Yes</label>
                    <label><input type="radio" name="q{{ question.id }}" value="No"> No</label>
                </div>
            </div>
        
            <div class="buttons">
                

                {% if is_last_question %}
            <!-- Submit Button when it's the last question -->
                    <button type="submit" class="next-btn">Submit</button>
                {% else %}
                    <!-- Next Button when it's not the last question -->
                    <button type="submit" name="next" value="1" class="next-btn">Next</button>
                {% endif %}
            </div>
        </form>
        
    </div>
</body>
</html>
